{% extends 'base.html.twig' %}

{% block body %}
    <div class="back-link">
        <a href={{ path('task_list') }}>Retour à la liste des tâches</a></li>
    </div>

    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right btn-form">Ajouter</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
